<div class="row">
  <div class="col-md-8">
    <div class="media">
    <br />
    <% avatar_url = @user.avatar_url(128) %>
    <% if avatar_url %>
      <div class="media-left">
        <%= image_tag avatar_url, class: 'media-object' %>
      </div>
    <% end %>
    <div class="media-body">
      <h2 class="media-heading"><%= @user.name %></h2>
      <small>
        <%= pluralize(@user.posts.count, 'post') %>,
        <%= pluralize(@user.comments.count, 'comment') %>
      </small>
    </div>
    </div>
  </div>
</div>

<h2>Posts</h2>
<% if has_posts? %>
  <%= render @user.posts %>
<% else %>
  <small><%= @user.name %> does not have any posts yet.</small>
<% end %>

<h2>Comments</h2>
<% if has_comments? %>
  <%= render @user.comments %>
<% else %>
  <small><%= @user.name %> does not have any comments yet.</small>
<% end %>

<h2>Favorites</h2>
<% if has_favorites? %>
  <% @user.favorites.each do |favorite| %>
    <% @favorite_post = Post.find(favorite.post_id)%>
    <div class="favorite">
      <div class="media-left">
        <% avatar_url = @favorite_post.user.avatar_url(36) %>
        <%= link_to (image_tag avatar_url), user_path(@favorite_post.user.id) %>
      </div>
      <div class="media-left fav-details">
        <small>
          <%= pluralize(@favorite_post.comments.count, 'comment') %>
          <br />
          <%= pluralize(@favorite_post.points, 'point') %> from
          <%= pluralize(@favorite_post.votes.count, 'vote') %>
        </small>
      </div>
      <div class="media-right">
        <%= render 'posts/limited_post', post: @favorite_post %>
      </div>
    </div>
  <% end %>
<% else %>
  <small><%= @user.name %> does not have any favorites yet.</small>
<% end %>
